In [168]:
# input 

n = int(input())

query = []

for i in range(n*10):
    ins = input()
    if ins == "-1":
        break
    query.append(ins)

print(query)

7
Q 0 0
C 1 2
Q 0 0
C 2 3
Q 0 0
C 4 5
Q 0 0
C 2 4
Q 0 0
C 6 7
Q 0 0
C 8 9
Q 0 0
C 7 8
Q 0 0
C 1 7
Q 0 0
-1
['Q 0 0', 'C 1 2', 'Q 0 0', 'C 2 3', 'Q 0 0', 'C 4 5', 'Q 0 0', 'C 2 4', 'Q 0 0', 'C 6 7', 'Q 0 0', 'C 8 9', 'Q 0 0', 'C 7 8', 'Q 0 0', 'C 1 7', 'Q 0 0']

In [79]:
#query.remove("")

ValueError: list.remove(x): x not in list

In [173]:
total_group = []
group_count = 0

for i,j in enumerate(query):
    if i == 0:
        print(0)
    else:
        
        query_split = j.split()
        if query_split[0] == "Q":
            pass
        else:
            
            group = list(map(int,query_split[1:]))
            
            total_group.append(group)
            
            groups = looping_count(total_group,group)
            if groups == None or groups == 0:
                pass
            else:
                group = groups
            try:
                print("the group : ",total_group)
                cnts = 0
                for i in total_group:
                    if len(i)%2 == 0:
                        cnts +=1 
                if cnts !=0:
                    print(cnts)
                else:
                    print(0)
            except:
                print(0)

0
the group :  [[1, 2]]
1
the group :  [[1, 2, 3]]
0
the group :  [[1, 2, 3], [4, 5]]
1
the group :  [[1, 2, 3, 4, 5]]
0
the group :  [[1, 2, 3, 4, 5], [6, 7]]
1
the group :  [[1, 2, 3, 4, 5], [6, 7], [8, 9]]
2
the group :  [[1, 2, 3, 4, 5], [8, 9, 6, 7]]
1
the group :  [[1, 2, 3, 4, 5, 6, 7, 8, 9]]
0

In [170]:
total_group

[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [13]:
if set([1,2]).intersection(set([2,3])):
    print("hi")

hi

In [165]:
def looping_count(total_group,cmp):
    repeat = []
    for i in total_group:
        for j in total_group:
            if i == j:
                pass
            else:
                repeat.append([i,j])
                if set(i).intersection(set(j)):
                    a =  set(i)
                    a.update(j)
                    total_group.append(list(a))
                    total_group.remove(i)
                    total_group.remove(j)
    if condition(total_group,cmp):
        return condition(total_group,cmp)

In [166]:
def condition(total_group,cmp):
    for i in total_group:
        for j in i:
            if j in cmp:
                cond = True
                val = i
                return val
    return 0

In [37]:
if set(i).intersection(set(j)):
                    print("on")
                    if i == cmp or j == cmp:
                        print("oned")
                        a =  set(i)
                        a.update(j)
                        print("a is ", a)
                        total_group.append(list(a))
                        total_group.remove(i)
                        total_group.remove(j)
                        return list(a)
                    else:
                        a =  set(i)
                        a.update(j)
                        print("a is ", a)
                        total_group.append(list(a))
                        total_group.remove(i)
                        total_group.remove(j)

In [40]:
list(a)

[2, 3, 4]

In [60]:
[2,3] == [2,3]

True